name: Test NoirSwift on iOS

on:
    push:
        branches:
            - main

    pull_request:
        branches:
            - main
        types:
            - ready_for_review

    workflow_dispatch:

jobs:
    test:
        runs-on: macos-latest

        steps:
            - name: Checkout NoirSwift
              uses: actions/checkout@v3

            - name: Set up Xcode environment
              run: |
                  sudo xcode-select -s /Applications/Xcode.app/Contents/Developer
                  sudo xcodebuild -license accept
            - name: Run Package Test
              run: |
                  xcodebuild test \
                    -scheme NoirSwift \
                    -destination 'platform=iOS Simulator,name=iPhone 17 Pro,OS=latest'
