name: Test NoirSwift on iOS

on:
    push:
        branches:
            - main

    pull_request:
        branches:
            - main
        types:
            - ready_for_review

    workflow_dispatch:

jobs:
    build:
        runs-on: macos-latest

        steps:
            - name: Checkout NoirSwift
              uses: actions/checkout@v3

            - name: Set up Xcode environment
              run: |
                  sudo xcode-select -s /Applications/Xcode.app/Contents/Developer
                  sudo xcodebuild -license accept

            - name: Run Package Build
              run: |
                  xcodebuild build \
                    -scheme NoirSwift \
                    -destination 'generic/platform=iOS'
