# .github/workflows/publish-pod-on-release.yml
name: Lint NoirSwift Podspec

on:
    push:
        branches:
            - main

    pull_request:
        branches:
            - main
        types:
            - ready_for_review

    workflow_dispatch:

jobs:
    lint:
        runs-on: macos-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Ruby
              uses: ruby/setup-ruby@v1
              with:
                  ruby-version: "3.2"

            - name: Install CocoaPods
              run: gem install cocoapods

            - name: Lint Podspec
              run: |
                  pod lib lint NoirSwift.podspec \
                    --skip-tests \
                    --skip-import-validation \
                    --allow-warnings \
                    --verbose
