# .github/workflows/publish-pod-on-release.yml
name: Publish CocoaPod on Release

on:
    release:
        types: [published]

jobs:
    publish:
        runs-on: macos-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Ruby
              uses: ruby/setup-ruby@v1
              with:
                  ruby-version: "3.2"

            - name: Install CocoaPods
              run: gem install cocoapods

            - name: Set version in podspec
              run: |
                  if [[ "${GITHUB_REF}" =~ ^refs/tags/v(.+)$ ]]; then
                      TAG_VERSION="${BASH_REMATCH[1]}"
                      echo "✅ Using version $TAG_VERSION"
                      sed -i '' "s/spec.version *= *\".*\"/spec.version = \"$TAG_VERSION\"/" NoirSwift.podspec
                  else
                      echo "❌ Error: Git tag '${GITHUB_REF}' is not in the format 'vX.Y.Z'" >&2
                      exit 1
                  fi

            # # TODO: Lint would fail
            # - name: Lint Podspec
            #   run: |
            #       pod lib lint NoirSwift.podspec \
            #         --skip-tests \
            #         --skip-import-validation \
            #         --allow-warnings \
            #         --verbose

            # TODO: Push to trunk
            # - name: Push to trunk
            #   run: |
            #       echo "Verifying CocoaPods token..."
            #       pod trunk me || (echo "❌ Invalid or expired CocoaPods token" && exit 1)
            #       pod trunk push NoirSwift.podspec \
            #         --skip-tests \
            #         --skip-import-validation \
            #         --allow-warnings \
            #         --verbose
              # env:
              #     COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
